<p>
  You are authenticated. Hello {{name}}
  <a routerLink="/">Go back</a>

</p>

<!-- <form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "addNewProduct(productData.value)">
    <label>Name: </label><input type = "text" name="transaction" id="transaction" placeholder="name" ngModel><br>
    <label>Color: </label><input type = "text" name="color" id="color" placeholder="color" ngModel><br>
    <input type="submit" value = "Add Product" routerLink="/users">
  </form> -->
<h1>Mortgage Lenders</h1>
<form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm">
 
  <table class="table" class="table table-dark" >
        <tr>
          <td> <label>Name </label></td>
         <td><input type = "text" name="name" id="name" placeholder="name" ngModel><br></td>
       </tr>
       <tr>
          <td> <label>DateOfBirth</label></td>
          <td><input type = "date" name="date" id="date" placeholder="name" ngModel><br></td>
          </tr>
       <tr>
          <td> <label>Gender </label></td>
          <select id="gender">
            <option value="Male" id="male">Male</option>
            <option value="Female" id="female">Female</option>
          </select>
       </tr>
       <tr>
          <td> <label>Date </label></td>
          <td><input type = "date" name="date" id="date" ngModel><br></td>
       </tr>
    
       <tr>
          <td> <label>Pancard ID </label></td>
          <td><input type = "text" name="pancard" id="pancard" ngModel><br></td>
       </tr>
       <tr>
        <td> <label>Salary </label></td>
        <td><input type = "text" name="pancard" id="pancard" ngModel><br></td>
     </tr>
     <tr>
      <td> <label>Second Income </label></td>
      <td><input type = "text" name="pancard" id="pancard" ngModel><br></td>
   </tr>
   <tr>
    <td> <label>Other Income </label></td>
    <td><input type = "text" name="pancard" id="pancard" ngModel><br></td>
 </tr>
 </table>
  <!-- <button type="submit"  routerLink="/users">add </button> -->
  <!-- <button type="submit" class="btn btn-success">Submit</button> -->
  <button type="button" class="btn btn-primary" (click)="addNewProduct(productData.value)" routerLink="/users">Add</button>
  <!-- <input type="submit" value = "Add Product" routerLink="/users"> -->
</form>


     

<a routerLink="/dashboard">Go back</a>
